swap/
.netrwhist

# vim-plug
/vim/plugins
/autoload/plug.vim
/autoload/plug.vim.old

# nvim spell
spell/

# session
session/
sessions/

# mac stuff
.DS_Store

# packer
plugin/packer_compiled.lua

.mypy_cache
