[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "after/plugin/nerdtree-ag"]
	path = after/plugin/nerdtree-ag
	url = https://github.com/taiansu/nerdtree-ag
