extends javascript

snippet resolver "NestJS GraphQL Resolver"
	import { Resolver } from '@nestjs/graphql';

	@Resolver()
	export class ${1:NAME}Resolver {
	  ${2}
	}

snippet injectable "NestJS Injectable"
	import { Injectable } from '@nestjs/common';

	@Injectable()
	export class ${1:NAME}Service {
	  ${2}
	}

snippet module "NestJS Module"
	import { Module } from '@nestjs/common';

	@Module({
	  imports: [${2:IMPORTS}],
	})
	export class ${1:NAME}Module {}
